/* Google font source */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
    font-family: "Nunito", sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* ===== CONTAINER included Header, Main Content, and Footer ===== */
.main-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 60px;
}

/* ===== NEWS SECTION ===== */
.content {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 34px 25px 34px;
    max-width: 100vw;
    box-sizing: border-box;
}

/* For tablets */
@media (max-width: 1024px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
        padding: 15px 20px;
    }
}

/* For large phones / small phones */
@media (max-width: 768px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 15px;
    }
}

/* For phones */
@media (max-width: 480px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }

    .news-img {
        width: 90%;
        max-width: 90%;
    }
}

.news-card {
    max-width: 100%;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 0px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 10px 4px lightblue;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.news-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.news-source {
    font-size: 13px;
    color: #555;
    margin-top: 8px;
    font-style: italic;
}
.news-img {
    width: 90%;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}