/* Google font source */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
footer {
    font-family: "Nunito", sans-serif;
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid #555;
}

.footer-content {
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 5px 0;
    font-size: 0.9em;
}

.footer-links {
    list-style: disc;
    padding-left: 20px;
    margin: 10px 0;
    display: block;
}

.footer-links li {
    display: list-item;
    margin: 5px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #00bcd4;
}
